


//colors
$primary: #5B6DF7;
$secondary: #01259B;
$pink: #F37CA7;
$yellow: #FFBA53;
$green: #18DB7D;

$input-btn-focus-box-shadow: none;
$text-color: #5B575F;
$text-color-light: #FFFFFF;


//font-families
$font-family-sans-serif: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-monospace: "Caveat";

//font-size
$font-size-base: 1.375rem;
$font-size-lg: 1.5625rem;
$font-size-sm: 0.9375rem;

$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.6rem;
$h4-font-size: 1.6rem;
$h5-font-size: 1.2rem;


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1440px
);
